# General
.DS_Store
analysis_scripts/.Rhistory
.Rproj.user
norming/analysis/rsconnect/documents/colorRuleKid_norming.Rmd/rpubs.com/rpubs/Document.dcf
norming/analysis/rsconnect/documents/colorRuleKid_norming.Rmd/rpubs.com/rpubs/Publish Document.dcf
norming/data/subj_data/~$colorrulekid_demographics.xlsx
norming/data/subj_data/~$lor Rules Demographic Data Entry Instructions.docx
norming/analysis/.Rhistory
norming_results/analysis/rsconnect/documents/colorRuleKid_norming.Rmd/rpubs.com/rpubs/Publish Document.dcf
